{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body_class %}bg-light{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h2 class="text-center mb-4">Please Sign In</h2>
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %} 