{% extends "base.html" %}
{% block title %}Outdated Python Packages{% endblock %}
{% block content %}
<h1>Outdated Python Packages</h1>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Package</th>
            <th>Current Version</th>
            <th>Latest Version</th>
        </tr>
    </thead>
    <tbody>
        {% for pkg in packages %}
        <tr>
            <td>{{ pkg.package }}</td>
            <td>{{ pkg.current_version }}</td>
            <td>{{ pkg.latest_version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home</a></p>
{% endblock %} 